@{
    ViewData["Title"] = "Privacy Policy";
}

<head>
    <link rel="stylesheet" href="~/css/post.css" asp-append-version="true" />
</head>

<div class="post">
    <div class="post-content">
    <h1>@ViewData["Title"]</h1>
    <p>
        This website does not retain any personal information, and it does not utilize cookies.
        The only exception to this policy is if you choose to create an account and provide genuine personal details,
        although it is not expected for anyone to do so in order to use the site.
        Testing the website does not require the submission of any authentic information.
        Additionally, all user accounts will be regularly deleted.
    </div>
</div>
<div style="height:200px"></div>
