html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.customHeader {
    width: 100%;
    position: fixed !important;
    clear: both !important;
    z-index: 10 !important;
    margin: 0px !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.headerUsername 
{
    text-align:center;
}

body {
  margin-bottom: 60px;
  background-color: #1a1a1a;
  margin: 0px;
  color: white;
  font-family: 'roboto_regular' !important;
}

.navbar {
  
    background-color: rgb(0, 0, 0) !important;
    border-bottom: 0px !important;
    
}
.navbar-nav {
    color: white !important;
}

.navbar-rightside {
    float: right;
}

.clearLink {
    text-decoration: none;
    color: inherit; /* Use the default text color */
}
.footer {
    background-color: black;
    
    margin: 0px;
    min-height: 700px;
}
.logoutButton {
    margin-left: 10px;
    padding: 5px;
    color: white;
    background-color: red;
    
    text-shadow: 1px 1px 1px #000;
}
.navbar-item{
  background-color: white;
}

textarea
{
    resize: vertical;
    min-height: 80px;
    height: 80px;
    max-height: 600px;
    padding: 3px;
    margin: 0px;
    width: 100%;

    margin-right: 18px;

    background-color: #2c2c2c;
    color: white;
    font-size: 20px;

    border-color: #3b3b3b;
    padding: 2px;
}
textarea:hover
{
  outline: none;
}
.comment-textarea
{
  resize: vertical;
  min-height: 30px;
  height: 60px;
  max-height: 600px;
  padding: 3px;
  margin: 0px;
  width: 100%;

  margin-right: 18px;

  background-color: #2c2c2c;
  color: white;
  font-size: 20px;

  border-color: #3b3b3b;
}
button 
{
  all: unset; /* Resets all properties to their inherited values or initial values */
  display: inline-block;
  padding: 3px;
  padding-left: 20px;
  padding-right: 20px;
  /*border: 1px solid black;*/ /* Add a border to make it a square */
  background-color: rgb(0, 162, 255); /* Set background color */
  color: rgb(255, 255, 255); /* Set text color */
  text-align: center; /* Center align the text */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-family: inherit; /* Inherit font from parent */
  font-size: 20px; /* Inherit font size from parent */
  border-radius: 5px;
  
  /*line-height: normal;*/ /* Set line height to normal */
}
.deleteComButton 
{
  all: unset; /* Resets all properties to their inherited values or initial values */
  display: inline-block;
  padding: 5px 5px;
  border: 3px solid rgb(70, 70, 70);; /* Add a border to make it a square */
  border-top: 0px;
  background-color: rgb(44, 44, 44); /* Set background color */
  color: rgb(255, 255, 255); /* Set text color */
  text-align: center; /* Center align the text */
  cursor: pointer; /* Add a pointer cursor on hover */
  font-family: inherit; /* Inherit font from parent */
  font-size: inherit; /* Inherit font size from parent */
  line-height: normal; /* Set line height to normal */
  
}
.link-account
{
  color: white;
  text-decoration: none;
}
.link-account:hover
{
  color: aqua;
}
.link-account::before
{
    content: "@";
}

@font-face {
  font-family: 'roboto_regular'; /* Name to reference the font */
  src: url('/fonts/Roboto-Regular.ttf'), /* Font file path and format */
}
@font-face {
  font-family: 'roboto_bold'; /* Name to reference the font */
  src: url('/fonts/Roboto-Bold.ttf'), /* Font file path and format */
}